body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #c1c1c1;
  background-repeat: repeat;
  font-size: 13px;
  line-height: 17px;
  color: #000;
}

/***********/
/* wrapper */
/***********/

#wrapper {
  width: 910px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
}
#paper {
  width:910px;
  margin:0 auto;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}
.paper-top {
  width:inherit;
  margin:0 auto;
  height:40px;
  font-color:white;
  font-size:20px;
  font-weight: bold;
  text-align: center;
  background-color: red;
}
.paper-botton {
  width:inherit;
  margin:0 auto;
  height:50px;
}
.category-headers {
  /*color: #228b22;*/
  font-size: 30;
  /*letter-spacing: 2px;*/
  margin-top: 0em;
  margin-bottom: 0em;
  text-transform: uppercase;
}
/*h2.category-headers {
  background: url(images/bar.svg) no-repeat left center;
  padding-left: 50px;
}*/
h2:before {
    display: inline-block;
    /*margin: 0 0 5px 20px;*/
    margin-left:50px;
    margin-right:10px;
    margin-bottom: 3px;
    height: 8px;
    content: " ";
    text-shadow: none;
    background-color: #228b22;
    width: 40px;
}
/*div.content {
  clear: both;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  padding-top: 32px;
}*/
h3 {
  width: 230px;
  text-align: right;
  float: left;
  padding: 0;
  clear: both;
  font-size: 13px;
  color: #888888;
}
p {
  width: 470px;
  margin-left: 10px;
  float: right;
  /*text-align: left;*/
}
em {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: #777777;
  font-size: 13px;
  display: block;
  padding-top: 3px;
}
.content {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  /*font-family: inherit;*/
  vertical-align: baseline;
}
.entry {
  width: 720px;
  display: block;
  padding-top: 30px;
  clear: both;
  margin-left: 4px;
}
div.content {
  clear: both;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  padding-top: 10px;
}


.save {
  /*width: 100px;*/
  float: right;
  padding-top: 25px;
  padding-right: 30px;
}

img.north_img {
  width: 20px;
  padding-right: 0px;
}

h1 {
  color: #228b22;
  width: 700px;
  font-size: 55px;
	/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  margin-top:80px;
  margin-left:50px;
  margin-bottom: 0px;
  display:inline-block;
  text-transform: uppercase;
  /*clear: both;*/
}

.firstname {
  font-weight: bold;
}
.surname {
  font-weight: normal;
  margin-left: 15px;
}

li.ad {
  background-image:url(../images/home.svg);
  background-repeat: no-repeat;
}
li.mail {
  background-image:url(../images/mail.svg);
  background-repeat: no-repeat;
}
li.tel {
  background-image:url(../images/old-phone.svg);
  background-repeat: no-repeat;
}
li.web {
  background-image:url(../images/network.svg);
  background-repeat: no-repeat;
}
li.address {
  display: block;
  padding-left:25px;
  margin-bottom: 4px;
  margin-left: 10px;
}

.occupation {
  font-weight: bold;
}
.school {
  /*font-weight: bold;*/
}
.organization {
  font-style: italic;
}


ul.skills {
  margin: 0;
  padding: 0;
  float: right;
  width: 470px;
  margin-left: 10px;
  margin-top: 7px;
  /*margin-top: -6px;*/
  list-style-type: none;
}

ul.skills li {
  margin: 0;
  padding: 0;
  float: left;
  width: 156px;
  /*background-image: url(images/home.svg);*/
  /*background-size: 15px;*/
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 0 .5em;
  margin-top: 6px;
}

li.count1 {
  background-image:url(../images/count1.svg);
  background-repeat: no-repeat;
}
li.count2 {
  background-image:url(../images/count2.svg);
  background-repeat: no-repeat;
}
li.count3 {
  background-image:url(../images/count3.svg);
  background-repeat: no-repeat;
}
li.count4 {
  background-image:url(../images/count4.svg);
  background-repeat: no-repeat;
}
.indent {
  width: 470px;
  margin-top: 20px;
  margin-left: 130px;
  /*float: right;*/
  /*text-align: left;*/
}

ul.languages li {
  margin: 0;
  padding: 0;
  float: left;
  width: 156px;
  /*background-image: url(images/home.svg);*/
  /*background-size: 15px;*/
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 0 .5em;
  margin-top: 6px;
}
.objective {
  width: 470px;
  margin-top: 0px;
  margin-left: 130px;
  /*float: right;*/
  /*text-align: left;*/
}

/*@media print {
	#paper {
		display: none;
	}
	#wrapper:after {
		content: url('files/cv.svg') !important;
	}
}*/

#preloadedImages
{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(../../../svg/green.svg);
}
